body {
	font: 14px/1.4 Calibri, sans-serif;
	margin: 0; 
}

#wrap {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	overflow: auto;
}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'menu menu menu menu menu'
	'main main right right right'
    'footer footer footer footer footer';
  grid-gap: 5px;
  background-color: grey;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
 
}

.grid-container > div {
  background-color: white;
  text-align: center;
  
 

}


/*handling the navigation menu for all pages*/
#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    width: 1850px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
	padding-right: 80px;
	padding-left: 80px;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}


#menu:after {
    clear: both;
}

#menu {
	zoom: 1;
}

/* list elements */

#menu li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 40px;
    color: blue;
    text-transform: uppercase;
    font: bold 8px Calibri, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #666;
}

/* Handle the animation of the submenus */

#menu ul {
    margin: 20px 0 0 0;
    margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #cccccc;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}


#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    color: white;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

/* Handle the First and Last Child */
#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}


#menu {
	text-align: center;
}

#menu li {
	display: inline;
	padding-right: 20px;
	padding-left: 1px;
	text-align: center;
	
}

#menu a {
	font: 32px/2 Impact, sans-serif;
	color: #ea0;
	text-decoration: none;
	padding-left: 95px;
	padding-left: 75px;

}



/*images in grid*/

.item1 img {
	width: 850px;
	height: 650px;
	float: left;
}


.item2 img {
	width: 1750px;
	height: 1100px;
	margin: auto;
	background-color: #b3d9ff;
		
}

.item5 img {
	width: 750px;
	height: 450px;
	
	}

header {
	text-align: center;
	
}

/*Element Selector*/
h1 {
	font-weight: bold;
	text-indent: 11px;
	color: #043;
}






/*Class Selector*/
p.city {
	font-variant: small-caps;
	font-size: 75px;
	text-align: left;
	font-family: Calibri, sans-serif;
}

/*Grouping Selector*/
p.street, p.phone, p.dial {
	text-align: justify;
	font-size: 41px;
}

/*Descendant Selector*/
form input {
	background-color: #ea0;
	font-size: 33px;
}


/*ID Selector*/
p.notice {
	color: #e65c00;
	text-indent: 15px;
	
}

/*Child Selector*/
div > h2 {
	color: green;
	text-indent: 15px;
}

/*Sibling Selector*/
h2 ~ p {
	color: #043;
	text-indent: 11px;
	
}

/*Adjacent Sibling Selector*/
img + p {
	font-style: italic;
	
}



form {
	float:right;
	margin-right: 500px;
	font-size: 55px;
	font-family: Calibri, sans-serif;
	
}

div .item2 {
	background-color: #e6ffe6;
}


div .item3 {
	text-align: left;
	text-indent: 15px;
	
}

div .item4 {
	text-align: left;
	text-indent: 11px;
	padding-left: 25px;
}

div .item5 {
	background-color: #043;

}


nav li a {
	text-decoration: none;
	list-style-type: none;
	color: #ea0;
}

nav li {
	list-style-type: none;

}


footer {
	text-align: center;
	background-color: #043;
	color: #ea0;
	
	}

footer a {
	color: white;
}



